{{partial "header.html" .}}

<div class="whitespace"></div>

<!--------------- hero section starts here say hello 👋 --------------->
<div class="container">
      <div class="hero-content">
            <br><br>

            <div class="row">
                  <div class="col-lg-8">

                        <h3 class="wow fadeInUp" data-wow-delay="1s">{{.Params.header}}</h3><br>
                        <p class="wow fadeInUp" data-wow-delay="1.2s">{{.Params.message}}</p>

                  </div>
            </div>
      </div>
</div>
<!--------------- hero section ends here --------------->

<!-- <div class="whitespace"></div> -->

<!--------------- form section starts here --------------->
<div class="container-fluid">
      <div class="row">
            <div class="col-lg-8">
                  <form name="contact" id="contact-form" method="post" data-netlify="true">

                  <ul>

                        <li class="wow fadeInUp" data-wow-delay="1.4s">
                              <label for="contact-name">Name :</label>
                              <div class="textarea">
                                    <input type="text" name="contact-name" id="contact-name" value="" required>
                              </div>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay="1.6s">
                              <label for="contact-email">Email :</label>
                              <div class="textarea">
                                    <input type="email" name="contact-email" id="contact-email" value="" required>
                              </div>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay="1.6s">
                              <label for="contact-project">Message :</label>
                              <div class="textarea">
                                    <textarea type="email" name="contact-project" id="contact-project" rows="6" value="" required>
                                    </textarea>
                              </div>
                        </li>

                  </ul>

                  <button type="submit" name="contact-submit" id="contact-submit" class="send wow fadeInUp">Send Message</button>

                  </form>
            </div>
      </div>
</div>

<!--------------- form section ends here --------------->

<div class="whitespace"></div>

{{partial "footer.html" .}}