@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Mono";
    src: url("../../public/fonts/RobotoMono.ttf");
}

@font-face {
    font-family: "Geist";
    src: url("../../public/fonts/Geist/Geist-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Geist";
    src: url("../../public/fonts/Geist/Geist-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Geist";
    src: url("../../public/fonts/Geist/Geist-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Geist";
    src: url("../../public/fonts/Geist/Geist-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Geist";
    src: url("../../public/fonts/Geist/Geist-Black.ttf");
    font-weight: 800;
}

body{
    text-rendering: geometricPrecision !important;
   -webkit-font-smoothing: subpixel-antialiased !important;
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
}