<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="author" content="Nicolas Guarini">

      <title>{{.Params.title}} | Nicolas Guarini</title>

      <!--SEO AND META-->
      <meta name="description" content="Hi! I'm a 17 years old Web and Desktop developer from Varese(IT)! You have and interesting project? I can help you!">
      <meta name="keywords" content="nicolas guarini, Nicolas Guarini, guaro, nicolasguarini.ml, nicolasguarini ml, nicolas guarini sviluppatore, nicolas guarini progetti, sivluppatore, progrmmatore, developer, programmer, sviluppatore varese, programmatore varese, varese, nicolas guarini github, progetti di programmazione, come fare un sito web">

      <!-- Icon -->
      <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
      
      <!-- stylesheet -->
      <link rel="stylesheet" href="/css/style.css">

      <!-- netlify idendity widget-->

      <!-- bootstrap cdns -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <script src="/js/bootstrap.min.js"></script>

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

      <!-- terminal effect -->
      <script src="/js/t.min.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="/css/animate.css">
      <script src="/js/wow.min.js"></script>

</head>
<body>
      <div class="wrapper">

            <!--------------- navbar starts here --------------->
            <nav>
                  <span id="brand">
                        <a href="/">nicolas guarini</a>
                  </span>

                  <ul id="menu">
                        <li><a href="/" title="Home">home<span>/</span></a></li>
                        {{ range .Site.Menus.main }}
                              <li><a href="{{.URL}}" title="{{.Name}}">{{.Name}}<span>/</span></a></li>
                        {{end}}
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>

            <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                        <li><a href="/" title="Home">home<span>/</span></a></li>
                        {{ range .Site.Menus.main }}
                              <li><a href="{{.URL}}" title="{{.Name}}">{{.Name}}<span>/</span></a></li>
                        {{end}}
                  </ul>
            </div>
            <!--------------- navbar ends here --------------->

